body {
	background-image: url("../images/test4.jpg");
}

.menu {

}
.menu ul {
	display: flex;
	list-style-type: none;
	margin-top: 70px;
	background-color: #4d0000;
	font-size: 50px;
}
.menu li {
	margin-left: 7%;
	margin-right: 100px;
	border-right: 2px solid #8c8c8c;
}
.menu li:last-child {
   
}
.menu a {
	display: inline-block;
	text-decoration: none;
	color: #8c8c8c;
}
.menu a:hover {
	color: #ffffff;
}
.active {
	background-color: #990000;
}
.affichage {

}

.chat {
	float: right;
	margin-right: 20px;
	margin-top: 60px;
	background: #ffffff;
}
.game {
	border: 2px solid #4d0000;
	float: left;
	margin-left: 100px;
	margin-top: 60px;
	height: 544px;
	width: 1184px;
}