body {
	background-image: url("../images/background.jpg");
	overflow: hidden;
}

.menu {

}
.menu ul {
	display: flex;
	list-style-type: none;
	margin-top: 70px;
	background-color: #4d0000;
	font-size: 50px;
}
.menu li {
	margin-left: 7%;
	margin-right: 100px;
	border-right: 2px solid #8c8c8c;
}
.menu li:last-child {
   
}
.menu a {
	display: inline-block;
	text-decoration: none;
	color: #8c8c8c;
}
.menu a:hover {
	color: #ffffff;
}
.active {
	background-color: #990000;
}
.affichage {

}

.chat {
	float: right;
	margin-right: 20px;
	margin-top: 60px;
	background: #ffffff;
}
.game {
	border: 2px solid #4d0000;
	float: left;
	margin-left: 100px;
	margin-top: 60px;
	height: 544px;
	width: 1184px;
}

.connexion {
	width: 800px;
	height: 400px;
	border: none;
	position: absolute;
	margin: auto;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
}

label {
	display: inline-block;
	position: relative;
	left: 25%;
	font-size: 35px;
  	color: #8c8c8c;
  	background-color: #4d0000;
}

input[type=text], input[type=password], select{
	position: relative;
	left: 25%;
   	display: block;
    width: 35%;
    padding: 12px 20px;
    margin: 0;
}

input:focus {
	border: 3px solid #009933;
}

input[type=submit] {
   	position: relative;
   	width: 325px;
   	display: inline;
   	left:25%;
    background-color: #4d0000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.profil {
	width: 800px;
	height: 330px;
	text-align: left;
	margin: auto;
	background-color: #4d0000;
}
.profil h1,h2 {
	color: #8c8c8c;
}
.imageProfil img {
	float: right;
	margin-top: -325px;
	margin-right: 200px;
}

.story {
	width: 1200px;
	text-align: justify;
	margin: auto;
	background-color: #4d0000;
	color: #8c8c8c;
	font-size: 37px;
}

.about {
	width: 800px;
	height: auto;
	text-align: center;
	margin: auto;
	background-color: #4d0000;
	color: #8c8c8c;
	font-size: 30px;
}
.aide {
	width: 1024px;
	height: auto;
	text-align: center;
	margin: auto;
	background-color: #4d0000;
	color: #8c8c8c;
	font-size: 25px;
}